/*******tag-styles**************** */

body {
    font-family: 'Montserrat', sans-serif;

}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 1.5;

}

h2 {
    font-family: 'Montserrat';
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.5;
}

/* font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif; */



/***id-Class-psudo-styles******** */

#title {
    background-color: #ff4c68;
    color: white;
}

.container-fluid {
    padding: 3% 15%;
}

.navbar {
    padding-right: 12px;
    padding-left: 12px;
    padding-bottom: 3.5rem;
}

.navbar-brand {
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    font-size: 2rem;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.navbar-expand-lg .navbar-nav .nav-item {
    padding-left: 15px;
    padding-right: 15px;
}

.nav-link {
    font-family: "montderrat", sans-serif;
    font-weight: 800;
    font-size: 1rem;
}

.download-button {
    margin-top: 12px;
    margin-bottom: 12px;
    margin-right: 12px;
    margin-left: 0px;
}

.hero-iphone {
    transform-origin: bottom;
    margin-top: 50px;
    margin-bottom: 50px;
    transform: rotate(20deg);
    width: 60%;
}



.icon-features {
    font-size: 5rem;
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon-features:hover {
    font-size: 5rem;
    color: #ff4c68;
    margin-bottom: 1rem;
}

.h3-feature {
    text-align: center;
    font-family: "montserrat";
    font-size: 1.2rem;
    font-weight: 800;
}

.p-feature {
    text-align: center;
    font-size: .7rem;
    color: #8f8f8f;
    margin-bottom: 0;
    font-weight: 700;
}

#features {
    padding: 5% 8%;
}

.feature-column {
    padding: 0% 6%;
}

.row {
    text-align: center;
}

#Testemonials {
    padding: 5px 0%;
    background-color: #ef8172;
    text-align: center;
    color: #fff;
}


.testimonial-image {
    width: 10%;
    border-radius: 100%;
}
.carousel-item{
    padding: 80px 15%;
}
.

#press {
    padding: 5px;
    background-color: #ef8172;
    text-align: center;
}

.press-logo {
    width: 15%;
    margin: 2px 15px 5px;

}